Group members:
* Student 1: Pablo Soler
* Student 2: Álvaro Payo

## 1

Write a function, that receives a string, and displays the characteres that are present at an even index number. Execute it with two different input strings.

In [ ]:
# EXAMPLE: get_evenidx("abcdef") shoud return "ace"

In [ ]:
## DEFINE THE FUNCTION HERE ##
def get_evenidx(str):
  modified_string = str[::2]
  return print(modified_string)

In [ ]:
# execution 1. Input string = "I love credit risk"

## WRITE YOUR CODE HERE ##
get_evenidx("I love credit risk")

Ilv rdtrs

In [ ]:
# execution 2. Input string = "Python 3 is fun"

## WRITE YOUR CODE HERE ##
get_evenidx("Python 3 is fun")

Pto  sfn

**Comment exercise 1:**
In this exercise we want the even values of the strings, so we have created a function that creates a variable that is the modified string and which returns the values we want. It should be noted that the function counts spaces as values.

## 2

Write a function that will accept the base and height of a triangle and compute the area.

In [ ]:
# EXAMPLE: area_triangle(base=3, height=2) should return 3. Area = 1/2 * base * height

In [ ]:
def areatriang (b,h):
  area = 0.5 * b * h
  return area

In [ ]:
# execution 1. Inputs: base=5, height=1

areatriang(5,1)

2.5

In [ ]:
# execution 2. Inputs: base=2, height=7

areatriang(2,7)

7.0

**Comment exercise 2:**
In this exercise we want a function based on two variables (base and height) that are the ones needed to find the area of a triangle. So, we create the variable area, which is composed by the formula, and we ask the function to return it depending on the values we assign to the base and the height.

## 3

Write a function that checks whether if the first and last element of a list is the same.

In [ ]:
# EXAMPLE: check_extremes([1, 2, 'a', 'z', 1]) should return True
# EXAMPLE: check_extremes([1, 2, 'a', 'z', '@']) should return False

In [ ]:
## DEFINE THE FUNCTION HERE ##
def check_extremes (list):
  if list[0] == list[-1]:
   print("True")
  else:
   print("False")

In [ ]:
# Execution 1. Inputs: [1, 2, 3, 4, 5, 6, 7]

## WRITE YOUR CODE HERE ##
list1 = (1, 2, 3, 4, 5, 6, 7)
check_extremes (list1)

False

In [ ]:
# Execution 2. Inputs: [9, 'w', '3', 1, 9]

## WRITE YOUR CODE HERE ##
list2 = (9, 'w', '3', 1, 9)
check_extremes(list2)

True

**Comment exercise 3:**
In this exercise we want to see if the first and last element of a list coincide. For it, we use an *if* in the function that consists of the condition that we want to put. If that condition is fulfilled, the function will return "True", and in the case that it is not fulfilled (*else*), it will return "False".

## 4

Write a function, which receives two lists, and returns the sorted unique elements of both lists.

In [ ]:
# EXAMPLE: unique_sorted([1, 3, 2, 2], [0, 1, 0, -1]) should return [-1, 0, 1, 2, 3]

In [ ]:
def unique_sorted(list1, list2):
 unique = []
 for element in list1+list2:
     if element not in unique:
         unique.append(element)
 print(sorted(unique))

In [ ]:
# Execution 1. Inputs: [-1, 2, 3, 0, -1, 0, 5], [1, 2, 3, 4, 5, 999]

## WRITE YOUR CODE HERE ##
list1 = (-1, 2, 3, 0, -1, 0, 5)
list2 = (1, 2, 3, 4, 5, 999)

unique_sorted(list1, list2)

[-1, 0, 1, 2, 3, 4, 5, 999]

In [ ]:
# Execution 1. Inputs: [10, -5, 3.14, 8, 9, 4], [44, 4, 9, -4, -5]

## WRITE YOUR CODE HERE ##
list3 = (10, -5, 3.14, 8, 9, 4)
list4 = (44, 4, 9, -4, -5)

unique_sorted(list3, list4)

[-5, -4, 3.14, 4, 8, 9, 10, 44]

**Comment exercise 4:**
In this exercise, we receive two lists of numbers and we want to return a single list with the unique numbers and sorted from smallest to largest. For it, we create a variable that consists of an empty list, to which the unique elements of each list will be added. So that the list that returns us is ordered, we use the *sorted* function.

## 5

Write a function that checks whether if a number is a Palindrome number (número capicúa)

In [ ]:
# EXAMPLE: is_palindrome(141) should return True
# EXAMPLE: is_palindrome(142) should return False

In [ ]:
## DEFINE THE FUNCTION HERE ##
def is_Palindrome(x):
    convertedNumber = str(x)
    reverseString = convertedNumber[::-1]
    return "True" if reverseString == convertedNumber else "False"

In [ ]:
# Execution 1. Input: 252

## WRITE YOUR CODE HERE ##
is_Palindrome(252)

'True'

In [ ]:
# Execution 2. Inputs: 1000

## WRITE YOUR CODE HERE ##
is_Palindrome(1000)

'False'

**Comment exercise 5:**
In this exercise we want to check if a number is a Palindrome number or not. To do this, we have created a function that creates two variables. The first one converts the number to a string, and the second one is the same string read backwards. Finally, it checks if both variables are equal. In the case that they are, the function returns "True", since the number is *capicua*; and in the case that they are not, it returns "False", since it is not.

## 6

Write a function that receives a dictionary and a list, and removes from the dictionary the keys contained in the input list

In [ ]:
# EXAMPLE: 
# input_dict = {"name": "Sergio",
#               "age": 31,
#               "city": "Madrid",
#               "salary": 100}

# remove_keys(input_dict, ["age", "salary"]) should return 

# {"name": "Sergio",
#  "city": "Madrid"}

In [ ]:
## DEFINE THE FUNCTION HERE ##
def remove_keys(input_dict, input_list):
  for element in input_list: 
    del input_dict[element]
  return input_dict

In [ ]:
# Execution 1. Inputs: 

# Input dictionry:
#              {"name": "Sergio",
#               "age": 31,
#               "city": "Madrid",
#               "salary": 100}

# Input list: ["name", "city"]

## WRITE YOUR CODE HERE ##   
input_dict1 = {"name": "Sergio",
              "age": 31,
              "city": "Madrid",
              "salary": 100}

input_list1 = ["name", "city"]

remove_keys(input_dict1, input_list1)

{'age': 31, 'salary': 100}

In [ ]:
# Execution 2. Inputs: 

# Input dictionry:
#              {"interests": ["Sports", "Economy", "Programming"],
#               "userid": 8952589
#               "country": "Spain",
#               "last_online": "2021-12-01"}

# Input list: ["userid", "country"]

## WRITE YOUR CODE HERE ##
input_dict2 = {"interests": ["Sports", "Economy", "Programming"],
              "userid": 8952589,
              "country": "Spain",
              "last_online": "2021-12-01"}

input_list2 = ["userid", "country"]

remove_keys(input_dict2, input_list2)

{'interests': ['Sports', 'Economy', 'Programming'],
 'last_online': '2021-12-01'}

**Comment exercise 6:**
In this exercise we receive a dictionary and a list, and we want to remove from the dictionary the keys that appear in the list. To do this, we create a function in which we implement a *for* to identify the elements of the list. Those elements will be eliminated with *del*, so the function will return the dictionary without the elements that appeared in the list.